PORT=3000
DB_HOST=localhost # localhost
DB_USER=youruser # tu usuario de postgres 
DB_PORT=5432 
DB_PASSWORD=yourpassword # tu contraseña de postgreSQL
DB_NAME=databasename # nombre de tu base de datos